# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
.env.local
.env.*.local
*.env

# Logs
logs/
*.log

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Local Scripts & macOS Services
scripts/
